{{#foreach posts}}
<section id="{{comment_id}}" class="{{post_class}}">
	<h3 class="post-title">
    <a href="{{url}}">{{title}}</a>
    <div class="post-date">{{date published_at format='YYYY/MM/DD'}}</div>
    <div class="taglist">{{#if tags}}<span class="tag-prefix">#</span>{{/if}}{{tags separator=", "}}</div>
    {{#if featured}}
      <i class="fa fa-star-o feature-star"></i>
    {{/if}}
  </h3>
</section>
{{/foreach}}